### Decision Tree Classifier - Titanic Dataset

In [1]:
# Import Libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.impute import SimpleImputer # to handle missing values
from sklearn.preprocessing import LabelEncoder # to handle categorical variables

In [2]:
# Load Titanic dataset
import seaborn as sns
df = sns.load_dataset('titanic')

In [3]:
# First five columns in the dataset
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
# Total Rows and columns
df.shape

(891, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [7]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
# Checking missing values
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

- There are missing values in certain columns
- There are some unnecessary columns in the dataset

In [9]:
# First drop unnecessary columns
df = df.drop(['deck', 'embark_town','alive','class','who','adult_male'], axis=1)

In [10]:
# Second, Handle missing values
imputer = SimpleImputer(strategy="most_frequent")
df[['age', 'embarked']] = imputer.fit_transform(df[['age', 'embarked']])

In [11]:
# Third, Encode categorical variables
encoder = LabelEncoder()
df['sex'] = encoder.fit_transform(df['sex'])
df['embarked'] = encoder.fit_transform(df['embarked'])

In [12]:
# Splitting data into features (X) and target (y)
X = df.drop('survived', axis=1)
y = df['survived']

In [13]:
# Splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                   random_state=42)

In [14]:
# Create and train the Decision Tree Classfier
model = DecisionTreeClassifier(criterion='gini', max_depth=5, random_state=42)
model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, random_state=42)

In [15]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [16]:
# Evaluating the model's performance 
# 1. Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ", accuracy)

Accuracy:  0.7988826815642458

In [17]:
# 2. Confusion Matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix: \n")
conf_matrix

Confusion Matrix:

array([[95, 10],
       [26, 48]], dtype=int64)

In [18]:
# 3. Classification Report
class_report = classification_report(y_test, y_pred)
print("Classification Report: \n", class_report)

Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.90      0.84       105
           1       0.83      0.65      0.73        74

    accuracy                           0.80       179
   macro avg       0.81      0.78      0.78       179
weighted avg       0.80      0.80      0.79       179

In [20]:
print(X.columns)

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'alone'], dtype='object')

In [23]:
# Predicting the survival for a new passenger
new_passenger = np.array([[3, 0, 22.0, 1, 
                           0, 7.25, 2, 1]])
new_passenger_df = pd.DataFrame(new_passenger, columns=X.columns)

prediction = model.predict(new_passenger_df)
print("Predicton for new passenger: ", prediction)

Predicton for new passenger:  [1]

- means the new passenger survived